
  
  <%- include("./partials/header")%>

  <%- include("./partials/nav")%>



<div class="overlay bg-zinc-200 ">
    <div  class="ml-[29%] py-2 capitalize drop-shadow-lg  font-bold text-5xl bg-pink-100 rounded-lg text-center  w-[40%] shadow-sm shadow-black">

        <div class=" flex object-cover overflow-hidden w-32 h-32 bg-red-100 rounded-full ml-[39%]  shadow-sm shadow-black ">
            <img src="/images/<%=user.profileimage%>" alt="" class="object-cover">
        </div>
          <h1 class="text-3xl font-bold"><%=user.name%> </h1>
          <h1 class="text-3xl font-light"><%=user.email%> </h1>
        </div>
        <!--  -->
        <h1 class=" text-3xl font-[foldit] ml-5">your posts</h1>
        <div class="posts w-full  p-5  flex flex-wrap gap-x-10">
        <%posts.posts.forEach((post)=>{%>
                <!--  -->
                <div class="w-[20%]  rounded-lg mt-5 bg-pink-100  border-[0px] border-black shadow-sm shadow-black p-1">
                   <div class="flex gap-x-1 items-center">
                       <div class=" icon-img w-12 h-12   rounded-full overflow-hidden flex object-cover">
                           <img src="/images/<%=user.profileimage%>" alt="">
                       </div>
                       <div>
                           <h1 class="text-xl font-bold"><%=user.name%> </h1>
                       <h1 class="text-xl font-light"><%=post.title%></h1>
                       </div>
                   </div>
                   <!--  -->
                   <div class=" w-full h-62 rounded-lg bg-zinc-500 object-cover overflow-hidden shadow-sm shadow-black">
                       <img src="/images/<%=post.media%>" alt="">
                   </div>
                   <div class="flex justify-between text-3xl font-light">
                    <div>
                        <i class="ri-heart-3-line text-3xl"></i>
                        <i class="ri-chat-3-line text-3xl"></i>
                    </div>
                    <div>
                        <a href="/delete-post/<%=post._id%>"><i class="ri-delete-bin-line"></i></a>
                        <a href="/edit-post/<%=post._id%>"><i class="ri-edit-line"></i></i></a>

                    </div>
                   </div>
               </div>
        <%}) %>
            <!--  -->
        </div>
        <div class="fixed top-[80%]   w-full h-32 flex items-center justify-center">
            <div class="hover:bg-zinc-200 hover:text-black  w-[35%] h-12 bg-pink-300 shadow-sm shadow-black rounded-lg flex text-3xl text-white justify-evenly p-1">
                <a href="/log-out"><i class="ri-logout-circle-line"></i></i></a>
                <a href="/add-post/<%=user._id%>"> <i class="ri-add-line"></i></a>
                <a href="/update/<%=user._id%>"><i class="ri-user-3-line"></i></a>
                <a href="/delete-user/<%=user._id%>"><i class="ri-delete-bin-6-line"></i></i></a>
            </div>
        </div>

</div>
  <%- include("./partials/footer")%>


  